server:
  port: 8081
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  datasource:
    username: <username>
    password: ${encryptPass}
    url: jdbc:mysql://localhost:3306/covid19tracker
  mvc:
    servlet:
      path: /api/v1/
logging:
  file:
    name: covidtracker.log
    path: ${HOME}